
// Primary colors
// Credit: http://flatuicolors.com/

$default: #ecf0f1;
$default-dark: #bdc3c7;

$primary: #3498db;
$primary-dark: #2980b9;

$secondary: #1abc9c;
$secondary-dark: #16a085;

$success: #2ecc71;
$success-dark: #27ae60;

$important: #e74c3c;
$important-dark: #c0392b;

$warning: #e67e22;
$warning-dark: #d35400;

$info: #9b59b6;
$info-dark: #8e44ad;

$highlight: #F2CF66;
$highlight-dark: #f39c12;

