<div class="block">
  <div class="block-title">
    <h2><i class="fa fa-edit"></i> Assign theme to user</h2>
  </div>
  <% form_tag url(:theme_list, :assign_user, id: @theme.id), method: "post", id: "create-account-form", class: "form-horizontal form-bordered" do %>
      <div class="form-group">
        <label class="col-lg-4 control-label">Theme Name</label>

        <div class="col-lg-8">
          <label class="control-label"><%= @theme.name %></label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Theme Type</label>

        <div class="col-lg-8">
          <label class="control-label"><%= @theme.theme_type_description(@language_code) %></label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Assign to</label>

        <div class="col-lg-8">
          <%= select_tag("account_theme[emails]", :options => @emails, :class => "select-chosen", :multiple => true) %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Activate Date</label>

        <div class="col-lg-8">
          <input type="text" class="form-control input-datepicker-close" name="account_theme[activate_date]"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Expire Date</label>

        <div class="col-lg-8">
          <input type="text" class="form-control input-datepicker-close" name="account_theme[expire_date]"/>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-lg-3 col-lg-offset-4">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save Account</button>
        </div>
      </div>
  <% end %>
</div>