.header-nav {
  float: left;
  @include clearfix();
  line-height: 2.5rem;
  height: 2.5rem;
  padding-left:0px;
  
    @media screen and (orientation: portrait){
        width: 86%;
    }

    @media screen and (orientation: landscape){
        width: 90%;
    }
}

.header-link {
  float: left;
  line-height: 2.5rem;
  @include clearfix();
  > span {
    float: left;
  }
}
