
<!-- Widgets Row -->
<div class="row">
	<div class="col-md-6 col-lg-6">
		<%= partial "partials/category/upload" %>
		
	</div>
	<div class="col-md-6 col-lg-6">
		<%= partial "partials/category/uploads" %>
    </div>
</div>
<!-- END Widgets Row -->


