<div class="col-md-12">
  <!-- Survey group Widget -->
  <h3 class="sub-header"><strong><%= I18n.t('finishSurveys') %></strong></h3>

  <div class="row">
    <% if !@finished_surveys.blank? %>
        <% for survey in @finished_surveys %>
            <%= partial 'cards/survey', :locals => {:survey => survey, :theme => 'themed-background-fire'} %>
        <% end %>
    <% end %>
  </div>
</div>
								