<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<div class="block">
		<div class="block-title">
		<h2><i class="fa fa-plus"></i> Edit Account</h2>
		</div>
		<% form_tag url( :account, :edit,account_id: @user.id), method: "post", id: "create-account-form",class: "form-horizontal form-bordered" do %>
			<div class="form-group">
				<label class="col-xs-4 control-label" for="add-first-name">First Name</label>
				<div class="col-xs-8">
					<input type="text" id="add-first-name" name="account[first_name]" class="form-control" value = "<%= @user.first_name %>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label" for="add-last-name">Last Name</label>
				<div class="col-xs-8">
					<input type="text" id="add-last-name" name="account[last_name]" class="form-control" value = "<%= @user.last_name %>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label" for="add-last-name">Password</label>
				<div class="col-xs-8">
					<input type="password" id="add-contact-email" name="account[password]" class="form-control" placeholder="Enter Password..">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label" for="add-last-name">Password Confirmation</label>
				<div class="col-xs-8">
					<input type="password" id="add-contact-email" name="account[password_confirmation]" class="form-control" placeholder="Confirm Password..">
				</div>
			</div>
		
			<div class="form-group form-actions">
			<div class="col-xs-9 col-xs-offset-3">
			<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Save Account</button>
			</div>
			</div>
		<% end %>
</div>
	</div>
</div>