.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 10rem;
  text-align: center;
  font-size: 1.5em;
}

.dialog-header {
  font-size: 1.5em;
  font-family: $ui-font;
  font-weight: bold;
  color: $primary-dark;
}
.dialog-message {
  color: #777;
}
