<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%= yield :title %></title>

</head>
<body>
<div class="pdf header">
    <%= image_tag('/dashboard/images/placeholders/avatars/avatar2.jpg') %>
</div>
<%= yield %>
</body>
</html>
