<div class="col-sm-6 col-lg-4">
	<div class="widget">
		<div class="widget-simple">
			<a href="page_ready_user_profile.php">
			<%= image_tag "placeholders/avatars/avatar2.jpg", :class => "widget-image img-circle pull-left animation-fadeIn"%>
			</a>
			<h5 class="widget-content text-right"></h5>
			<strong><%= account.first_name + " "+account.last_name%>  </strong><br>
			<h6><strong><%= account.role%></strong></h6>
			
		</div>
	</div>
</div>