                    <footer class="clearfix">
                        <div class="pull-left">
                            <span id="year-copy"></span> &copy; <a href="http://surveyinpocket.com" target="_blank">Survey in Pocket</a>
                        </div>
                    </footer>