<%= partial 'partials/survey_list/top_stat' %>
<!-- Widgets Row -->
<div class="row">
	<%= partial 'partials/survey_list/active' %>
	<%= partial 'partials/survey_list/draft' %>
	<%= partial 'partials/survey_list/finished' %>
</div>
<!-- END Widgets Row -->

