<article class="page question-page widget inactive" data-index="<%= @survey.questions.count + 1 %>">
	<div class="widget-extra" style = "color: #FFFFFF" >

		<div class="widget-content-light question-title ty-title">
			Thank you!
		</div>
	  <h4 class="widget-content-light question-content">

		<p class="description-content"></p>
	  </h4>
	</div>
</article>
