<div class="info-page question-title">
  <div class="widget-content-light question-title-inside">
    <p><%= @question.questionText %></p>
  </div>
</div>
<div class="question-content">
  <div class="question-message">
    <div class="message-action clearfix">
      <button type="button" class="btn btn-primary js-next">Next</button>
    </div>
  </div>
</div>