<div class="question-message">
  <div class="question-input">
    <textarea name="question[<%= @question.index %>]" id="question[<%= @question.index %>]-input"></textarea>
  </div>
  <div class="message-action clearfix">
    <button type="button" class="btn btn-primary js-next">Next</button>
  </div>
</div>
